{% extends 'eapp/base.html' %}

    {% block title %}<title>Create Product</title>{% endblock title %}

    {% block content %}
    <h1>Create New Product</h1>

<div class="productcreation">
    <form action="pro" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            Product Title:
            <input type="text"name="product_title">
            <br><br>
            Image:
            <input type="file"name="image">
            <br><br>
            Category:
            <input type="text"name="category">
            <br><br>
            Price:
            <input type="number"name="price">
            <br><br>
            discription:
            <textarea rows="10"cols="100"></textarea>
            <br><br>
            <input type="submit" value="Submit">
    </form>
</div>

    {% endblock content %}